* {
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
  padding: 0;
  margin: 0; 
  color: black;
}

body {
  background-color: skyblue;
    height: 100%;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 200px 200px 200px 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    text-align: center;
    align-content: center;
    flex-direction: column;
  }

  h1{
    margin-bottom: 5rem;
    font-size: 25px;
    text-align: relative;
    color: pink;
  }

  .container {
   /* width: 40%; */
    text-align: center;
    display: inline;
  }
  
  button {
    background: none;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    display: grid;
    padding: 2px 2px 2px 2px;
    font-size: 200 px;
    font-weight: bold;
    position: center;
  }
  
  button:hover {
    color: pink;
  }
 /* https://codepen.io/ritchiejacobs/pen/qEJjBM  help me design and format my button worked off an example, just wanted acool button*/

 .container {
   display: flex wrap;
   font-size: medium;
   color: black;
 }

  /* @media (min-width: 600px) {  
    html,
    body {
      height: 100%;
    }
  }

   */ 